.Layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "Header Header Header Header"
  "aside main main main"
  "aside main main main"
  "aside main main main"
  "aside Footer Footer Footer";
  height: 100vh;
}
.Header {
  grid-area: Header;
}
.Footer {
  grid-area: Footer;
}
.aside {
  grid-area: aside;
}
.main {
  grid-area: main;
}